<!DOCTYPE html>
<html>
<head>




<link rel="alternate" hreflang="x-default" href="/places/gir-national-park/">








<script>
  dataLayer = [{
    'pageType': 'Destination.Overview',
    'placeCode': 'GIR-NATIONAL-PARK',
    'stateCode' : 'GUJARAT',
    'countryCode' : 'INDIA',
    'monetized' : '1',
    'category' : 'Wildlife.png',
    'destinationTags' : 'Wildlife,Family,Friends,Solo,WEST, SOUTH-ASIA',
    'packageMinRate' : '102.0',
    'hotelMinRate' : '1200.0',
    'siteVersion' : '4.63'
  }];
</script>





<title> Gir National Park Tourism (2024) Lion Reserve And Wildlife Sanctuary </title>
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='gir.css') }}">
     <link rel="stylesheet" href="gir.css">
<link rel="icon" href="favicons/images-favicon.png" type="image/x-icon" sizes="32x32">
<link rel="manifest" href="/manifest.json">
<link rel="canonical" href="/places/gir-national-park/">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="encoding" content="utf-8">
<meta name="description" content="Get the best Information about Gir National Park Tourism. Get travel guides and plan
  your trip to Gir National Park with tour packages, places to visit, sightseeing, hotels, and reviews by other travellers">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta property="og:image" content="https://www.holidify.com/images/bgImages/GIR-NATIONAL-PARK.jpg">


<link rel="preload" href="/res/fonts/manrope-bold.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="/res/fonts/manrope-regular.woff2" as="font" crossorigin="anonymous">
 <link rel="preload" as="image" href="https://www.holidify.com/images/bgImages/GIR-NATIONAL-PARK.jpg" importance="high">

<link rel="preload" href="/res/css/main.css?v=4.63" as="style" onload="this.onload=null;this.rel='stylesheet'">


<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://securepubads.g.doubleclick.net">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://static.clicktripz.com">

<script>
  var resourceVersion = "4.63";
  function readDataLayerValue(a){if(typeof dataLayer=="undefined"|| !dataLayer||0==dataLayer.length)return null;for(var r=0;r<dataLayer.length;r++)if(a in dataLayer[r])return dataLayer[r][a];return null}
  function setDataLayer(a,e){null!=readDataLayerValue(e)&&ga("set",a,readDataLayerValue(e))}

  // DFP tag
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];

</script>




<script>

	function slotExists(slotDivId) {
		return document.getElementById(slotDivId)!=null;
	}

    function applySlot(divId, unitId, sizeList, sizeMapping) {
        if(slotExists(divId)) {
            googletag.defineSlot(unitId, sizeList, divId).defineSizeMapping(sizeMapping).addService(googletag.pubads());
        }
    }

  googletag.cmd.push(function() {

    var atfMapping = googletag.sizeMapping().
        addSize([1200, 0], [728, 90]).	// large desktop
        addSize([980, 0], [728, 90]).	// desktop
        addSize([640, 0], [728, 90]).	// tablet
        addSize([320, 0], [336, 280]).	// mobile
        build();

    var thinAtfMapping = googletag.sizeMapping().
        addSize([1200, 0], [728, 90]).  // large desktop
        addSize([980, 0], [728, 90]).   // desktop
        addSize([640, 0], [728, 90]).   // tablet
        addSize([320, 0], [300, 100]).  // mobile
        build();

    var incontentMapping = googletag.sizeMapping().
        addSize([1200, 0], [336, 280]).  // large desktop
        addSize([980, 0], [336, 280]).   // desktop
        addSize([640, 0], [300, 100]).   // tablet
        addSize([320, 0], [336, 280]).  // mobile
        build();

    var rightSquareMapping = googletag.sizeMapping().
        addSize([1200, 0], [336, 280]).  // large desktop
        addSize([980, 0], [336, 280]).   // desktop
        addSize([0, 0], []).   // other
        build();

    var skyscraperMapping = googletag.sizeMapping().
        addSize([1200, 0], [300, 600]).  // large desktop
        addSize([980, 0], [300, 600]).   // desktop
        addSize([0, 0], []).   // tablet or mobile
        build();

    var footerMapping = googletag.sizeMapping().
        addSize([980, 0], [728, 90]).
        addSize([640, 0], [728, 90]).
        addSize([320, 0], [336, 280]).
        build();


	if(slotExists("div-gpt-ad-1554287145815-0")) {
    	googletag.defineSlot('/21797983619/ca-pub-8014231071342543-tag/hf-resp-728x90-336x280', [[336, 280], [728, 90]], 'div-gpt-ad-1554287145815-0')
		.defineSizeMapping(atfMapping).addService(googletag.pubads());		// common atf
	}

    if(slotExists("div-gpt-ad-1578638338891-0")) {
        googletag.defineSlot('/21797983619/ca-pub-8014231071342543-tag/hf-resp-728x90-300x100', [[300, 100], [728, 90]], 'div-gpt-ad-1578638338891-0')
        .defineSizeMapping(thinAtfMapping).addService(googletag.pubads());      // thin atf
    }

    if(slotExists("div-gpt-ad-1554367252700-0")) {
        googletag.defineSlot('/21797983619/ca-pub-8014231071342543-tag/hf-resp-incontent', [[320, 50], [336, 280], [300, 100], [728, 90], [970, 90]], 'div-gpt-ad-1554367252700-0')
        .defineSizeMapping(incontentMapping).addService(googletag.pubads());	// responsive in-content position-1
    }

    if(slotExists("div-gpt-ad-1558684418074-0")) {
    	googletag.defineSlot('/21797983619/ca-pub-8014231071342543-tag/hf-resp-incontent-1', [[320, 50], [336, 280], [728, 90], [300, 100], [970, 90]], 'div-gpt-ad-1558684418074-0')
    		.defineSizeMapping(incontentMapping).addService(googletag.pubads());	// responsive in-content position-2
    }

    if(slotExists("div-gpt-ad-1576515813235-0")) {
        googletag.defineSlot('/21797983619/ca-pub-8014231071342543-tag/incontent-responsive-pos3', [[320, 50], [336, 280], [728, 90], [300, 100], [970, 90]], 'div-gpt-ad-1576515813235-0')
            .defineSizeMapping(incontentMapping).addService(googletag.pubads());    // responsive in-content position-3
    }

    if(slotExists("div-gpt-ad-1551926846877-0")) {
	    googletag.defineSlot('/21797983619/ca-pub-8014231071342543-tag/hf-d-300x600', [300, 600], 'div-gpt-ad-1551926846877-0')
    		.defineSizeMapping(skyscraperMapping).addService(googletag.pubads());	// skyscraper
    }

    if(slotExists("div-gpt-ad-1551926930529-0")) {
    	googletag.defineSlot('/21797983619/ca-pub-8014231071342543-tag/hf-d-336x280', [336, 280], 'div-gpt-ad-1551926930529-0')
    		.defineSizeMapping(rightSquareMapping).addService(googletag.pubads());	// right square
    }

    if(slotExists("div-gpt-ad-1575615770568-0")) {
        googletag.defineSlot('/21797983619/ca-pub-8014231071342543-tag/hf-footer-v2', [[336, 280], [728, 90]], 'div-gpt-ad-1575615770568-0')
        .defineSizeMapping(footerMapping).addService(googletag.pubads());       // common footer
    }

    var adunits = document.getElementsByClassName("article-adunit");
    for (var i = 0; i < adunits.length; i++) {
        var divId = "dynamic-adunit-pos-"+i;
        //var unitId = "/21797983619/ca-pub-8014231071342543-tag/"+divId;
        //var unitId = "/21797983619/ca-pub-8014231071342543-tag/hf-resp-incontent";
        var unitId = "/21797983619/"+divId;
        applySlot(divId, unitId, [[320, 50], [336, 280], [728, 90], [300, 100]], incontentMapping);
        googletag.display(divId);
    }

    googletag.pubads().setTargeting("pageType", readDataLayerValue("pageType"));
    googletag.pubads().setTargeting("placeCode", readDataLayerValue("placeCode"));
    googletag.pubads().setTargeting("stateCode", readDataLayerValue("stateCode"));
    googletag.pubads().setTargeting("countryCode", readDataLayerValue("countryCode"));

    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();


    // Collapse ads that were expanded by default
    googletag.pubads().addEventListener('slotRenderEnded', function(event) {
      var slot = event.slot;
      if(event.isEmpty){
        if(slot.getSlotElementId() === "div-gpt-ad-1554287145815-0")
            $(".Header-atf").removeClass("Header-atf");
        if(slot.getSlotElementId() === "div-gpt-ad-1578638338891-0")
            $(".Thin-atf").removeClass("Thin-atf");
        if(slot.getSlotElementId() === "div-gpt-ad-1551926930529-0")
            $(".Large-rectangle").removeClass("Large-rectangle");
      }
    });

  });
</script>


<input type="hidden" id="pageType" value="Destination.Overview">

</head>
<body>






<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-primary">
	<div class="container">

    <a class="navbar-brand" href="www.holidify.html">
      <img src="../static/res/logo.png" alt="Holidify">
    </a>

    <form class="form-inline my-2 my-lg-0 position-relative">
  	 <input class="form-control hf-searchbar" id="header-autocomplete" type="search" placeholder="Search for places to visit" aria-label="Search">




<svg class="icon-search icon-svg ">
    <use xlink:href="/res/images/sprite-v2/sprite-web.svg?v=4.63#img-search"></use>
</svg>

     <div class="loading" style="display: none"> <div class="loading-wheel"> </div> </div>
    </form>

    <button class="navbar-toggler" type="button" onclick="openNav()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav ml-auto">

      <ul class="navbar-nav nav d-none d-lg-flex pr-3">
      <li class="nav-item dropdown">




          <li class=" nav-item" id="headerLoginContainer">









          </li>
      </ul>

    </div>
  </div>



  <div class="translucent-background d-lg-none" style="display: none;"> </div>
  <div id="sideNav" class="sidenav d-lg-none">
    <a href="#" class="close-btn" onclick="closeNav()">×</a>

    <div class="pt-3">


          <div class="hamburger-div">

            </a>
          </div>



        <span id="headerMobileLoginContainer"></span>





</nav>










<nav class="navbar nav-container navbar-secondary sticky-top">
  <div class="container p-mobile-0">

  <ul class="nav">
    <li class="first selected">
      <a title="Ahmedabad Tourism" href="ahemdabad.html">

         Gir
      </a>
    </li>




            <li class=""><a title="Ahmedabad Places to visit" href="new.html"> Places To Visit </a></li>










          <li class=" "><a title="Best time to visit Ahmedabad" href="best-time-to-visit.html">Best Time To Visit</a></li>





          <li class=""><a title="Photos of Ahmedabad" href="photos.html">Photos</a></li>



          <li class=" "><a title="Restaurants in Ahmedabad" href="restaurants-places-to-eat-local-cuisine.html">Food</a></li>




          <li class="  d-md-none"><a style="border-bottom: none" title="Ahmedabad Collections" href="related-stories.html">Collections</a></li>


          <li class="  d-md-none"><a style="border-bottom: none" title="Ahmedabad Tourist Map" href="map-view.html"> Map </a></li>


          <li class="d-md-none"><a style="border-bottom: none" title="Ahmedabad Reviews &amp; QnA" href="tips-and-questions.html">Reviews &amp; QnA</a></li>


    </ul>

  </div>
</nav>



















<div class="d-none">
    <script data-cfasync="false" src="js/cloudflare-static-email-decode.min.js"></script><script type="application/ld+json">
            {
                "@context":"http://schema.org",
                "@type":"BreadcrumbList",
                "itemListElement":[
                    {"@type":"ListItem","position":"1","item":"https://www.holidify.com","name":"Home"},
                    {"@type":"ListItem","position":"2","item":"https://www.holidify.com/country/india/","name":"India"},
                     {"@type":"ListItem","position":"3","item":"https://www.holidify.com/state/gujarat/","name":" Gujarat"},

                    {"@type":"ListItem","position":"4","item":"https://www.holidify.com/places/gir-national-park/","name":"Gir National Park"}
                ]
            }
    </script>

</div>



<div class="row no-gutters destination-atf">
    <div class="col-12 col-lg-6 left">









<div class="atf-cover-image swipe-gallery" style="background-image: url('https://www.holidify.com/images/bgImages/GIR-NATIONAL-PARK.jpg');">






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/bgImages/GIR-NATIONAL-PARK.jpg" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> Gir National Park, Gujarat

                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3486.jpg?v=1.1" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> drinking lion
                    <button class="link-button" onclick="openLinkNewTab('http://www.panoramio.com/photo/33257447')">(source)</button>
                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3487.jpg?v=1.1" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> GIR LION
                    <button class="link-button" onclick="openLinkNewTab('http://www.panoramio.com/photo/31139379')">(source)</button>
                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3488.jpg?v=1.1" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> Gir National Park
                    <button class="link-button" onclick="openLinkNewTab('http://www.panoramio.com/photo/45922130')">(source)</button>
                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3489.jpg?v=1.1" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> GIR LION
                    <button class="link-button" onclick="openLinkNewTab('http://www.panoramio.com/photo/31139270')">(source)</button>
                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3490.jpg?v=1.1" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> Lion of Gir
                    <button class="link-button" onclick="openLinkNewTab('http://www.panoramio.com/photo/51932710')">(source)</button>
                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3491.jpg?v=1.1" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> SASAN GIR
                    <button class="link-button" onclick="openLinkNewTab('http://www.panoramio.com/photo/31139074')">(source)</button>
                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3492.jpg?v=1.1" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> Chinkara
                    <button class="link-button" onclick="openLinkNewTab('http://www.panoramio.com/photo/4429404')">(source)</button>
                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3493.jpg" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> This photograph is taken by Nikunj Vasoya during his visit to Gir Forest

                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3494.png" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> I, the copyright holder of this work, hereby publish it under the following licenses:

                    </span>

</div>






<div class="lazyBG swipe-image" data-original="https://www.holidify.com/images/compressed/3495.jpg" style="background-image:url('https://holidify.com/images/patt.png');">

                <span class="swipe-img-title"> Nilgai antelope (Boselaphus tragocamelus) at Sasan Gir Forest, Gujarat (India)

                    </span>

</div>



</div>








<div id="lightgallery2" class="d-none">


        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/bgImages/GIR-NATIONAL-PARK.jpg" data-exthumbimage="https://www.holidify.com/images/bgImages/GIR-NATIONAL-PARK.jpg" title="Gir National Park, Gujarat  &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>




        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3486.jpg?v=1.1" data-exthumbimage="https://www.holidify.com/images/compressed/3486.jpg?v=1.1" title="drinking lion &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/33257447')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>




        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3487.jpg?v=1.1" data-exthumbimage="https://www.holidify.com/images/compressed/3487.jpg?v=1.1" title="GIR LION &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/31139379')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>




        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3488.jpg?v=1.1" data-exthumbimage="https://www.holidify.com/images/compressed/3488.jpg?v=1.1" title="Gir National Park &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/45922130')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>




        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3489.jpg?v=1.1" data-exthumbimage="https://www.holidify.com/images/compressed/3489.jpg?v=1.1" title="GIR LION &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/31139270')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>




        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3490.jpg?v=1.1" data-exthumbimage="https://www.holidify.com/images/compressed/3490.jpg?v=1.1" title="Lion of Gir &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/51932710')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>




        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3491.jpg?v=1.1" data-exthumbimage="https://www.holidify.com/images/compressed/3491.jpg?v=1.1" title="SASAN GIR &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/31139074')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>




        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3492.jpg?v=1.1" data-exthumbimage="https://www.holidify.com/images/compressed/3492.jpg?v=1.1" title="Chinkara &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/4429404')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>


        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3493.jpg" data-exthumbimage="https://www.holidify.com/images/compressed/3493.jpg" title="This photograph is taken by Nikunj Vasoya during his visit to Gir Forest &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/4429404')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>


        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3494.png" data-exthumbimage="https://www.holidify.com/images/compressed/3494.png" title="I, the copyright holder of this work, hereby publish it under the following licenses: &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/4429404')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>


        <div class="d-none images-columns-fixed" data-src="https://www.holidify.com/images/compressed/3495.jpg" data-exthumbimage="https://www.holidify.com/images/compressed/3495.jpg" title="Nilgai antelope (Boselaphus tragocamelus) at Sasan Gir Forest, Gujarat (India) &lt;button class='link-button' onclick=openLinkNewTab('http://www.panoramio.com/photo/4429404')&gt;(source)&lt;/button&gt; &lt;br /&gt; &lt;a class='btn btn-read-more' onclick='openDestPackages()'&gt; View Packages &lt;/a&gt;"></div>


</div>
    </div>

    <div class="col-12 col-lg-6 right">

        <div class="d-flex">
            <h1>Gir National Park</h1>
            <div class="rating-box d-none d-md-flex">
                <div>









<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.2</b>
     <span class="light"> /5</span>
</span>


                     <a href="tips-and-reviews.html" class="num-reviews">57 votes</a>
                </div>

                <div class="left-border">

                        <span class="clickable" onclick="addRating(-1,'DESTINATION')">




<svg class="icon-rate-star icon-svg icon-size-20 mt-1 mb-2">
    <use xlink:href="/res/images/sprite-v2/sprite-web.svg?v=4.63#img-rate-star"></use>
</svg>

                            <p class="num-reviews m-0">Rate</p>
                        </span>


                </div>

            </div>
        </div>

        <!-- Overview info -->

        <div class="mb-2 font-smaller">




<svg class="icon-next-location icon-svg mr-2">
    <use xlink:href="/res/images/sprite-v2/sprite-web.svg?v=4.63#img-next-location"></use>
</svg>



                <a href="gujarat.html"><b>  Gujarat </b></a> <span class="divider"> </span>

            <a href="india.html"><b> India </b></a>
        </div>


        <div class="mb-40 font-smaller">










<div class="mb-2">




<svg class="icon-download icon-svg mr-2">
    <use xlink:href="/res/images/sprite-v2/sprite-web.svg?v=4.63#img-download"></use>
</svg>

    <a class="pdf" data-toggle="modal" data-backdrop="static" onclick="downloadPdf()" href="gir-national-park.html"><b>Get Gir National Park PDF Guide</b></a>
</div>







<svg class="icon-medal icon-svg mr-2">
    <use xlink:href="/res/images/sprite-v2/sprite-web.svg?v=4.63#img-medal"></use>
</svg>

        3 out of 24
        <a href="top-destinations-places-to-visit.html"><b> Places to visit in  Gujarat </b></a>







        </div>

        <!-- CTA section -->
        <div class="mb-4">











        <!-- Package Exist -->













        </div>

        <!-- Hotel-Collection -->




            <!-- Objective information -->









<h2>Gir National Park Travel Essentials </h2>
<div class="objective-information  negative-margin-mobile">
    <div class="d-md-none">
        <div class="mb-2">
            <p class="d-inline-block"><b>Rating: </b> </p> 
            <div class="rating-box d-inline-flex">
                <span class="text-center">









<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.2</b>
     <span class="light"> /5</span>
</span>









<span class="clickable align-middle num-reviews" onclick=";openLink('/places/gir-national-park/tips-and-reviews.html')">
                            (57 ratings)
                         </span>


                </span>

                    <span class="text-left ml-2 mt-1 clickable" onclick="addRating(-1,'DESTINATION')">
                        <b>Rate This Destination</b>
                    </span>


            </div>
        </div>
    </div>

    <p><b>Weather: </b> <span id="currentWeather" class="weather-current"></span> </p>

    <p><b>Ideal duration: </b> 1 day </p>





        <p><b>Best Time: </b> July to March

                <span class="divider"> </span>






<span class="clickable align-middle d-md-inline-block" onclick=";openLink('/places/gir-national-park/best-time-to-visit.html')">  <b>Read More</b> </span>


        </p>




    <p>
        <b>Planning a Trip? <span class="clickable" onclick="openAskQuestionpage('places','gir-national-park')">Ask Your Question</span></b>
    </p>

        <b>Also Refered As: </b>
        <h2 class="heading-small">Gir</h2>


</div>


    </div>

</div>


<div class="w-100 mb-4">






<div class="ad-container Header-atf">













            <!-- ATF Common: /21797983619/ca-pub-8014231071342543-tag/hf-resp-728x90-336x280 -->
            <div id="div-gpt-ad-1554287145815-0" style="margin:0 auto;">
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1554287145815-0'); });
            </script>
            </div>


























</div>


</div>
</div>




<div class="container">

  <div class=" row no-gutters">






<div class="col-lg-8 pr-lg-2">






























      <!-- Sub destinations -->


























<h3 class="tagline w-100"> "The land of Asiatic Lions" </h3>






<h2 class="heading2 w-100">  Gir National Park Tourism  </h2>
























<div class="readMoreText compact ">

       <p> Gir National Park and Wildlife Sanctuary is the only remaining home for the Asiatic Lions. Located in Talala Gir in Gujarat, the Sanctuary is a part of Kathiawar- Gir dry deciduous forests ecoregion. Gir National Park is closed from 16 June to 15 October every year and the best time for wildlife spotting is April and May.</p>
       <p></p>
       <p> Gir provides you with the unique experience of visiting a place which almost singularly plays a crucial and defining role in the preservation and sustaining of a certain species. The preservation of these lions was initiated by the Nawab of Junagadh when these were just about to enter the phase of extinction due to hunting. <br><br>The official count said that there were 411 lions in 2010. Also, there are roughly different 2375 species of fauna here with 38 species of mammals, over 300 species of birds, 37 species of reptiles and over 2000 species of insects. Other important wildlife forms found here are leopard, chausingha, spotted deer, hyena, sambar deer and chinkara.</p>


        <div class="morelink"><span class="btn btn-blue">Read More</span></div>

</div>

     <!-- Zero-eth monetization section -->























     <!-- Highlights widget -->






















      <!-- Featured Attraction -->






















     <!-- Top attractions -->
















     <!-- First monetization section -->










  <!-- Top packages -->





























      <!-- QnA section -->



















<div class="row no-gutters mb-50 mt-5" id="">



<h2 class="heading2 w-100"> Popular Questions And Answers on Gir National Park </h2>











<div class="col-12 mb-4 ">












<p class="question"><b> <a href="Im-a-bird-watching-enthusiast-Is-Gir-a-447.html" class="font-color">
		Q. I'm a bird watching enthusiast. Is Gir a good option for me that way?

</a> </b></p>


























<div class="profile-inline">






<span class="clickable align-middle font-color" onclick=";openLink('/profile/2909/')">






<img class="rounded-circle usericon lazy" height="" data-original="https://graph.facebook.com/10203747931131960/picture?width=150&amp;height=150" src="images/images-patt.png" alt="">

		<p class="profile-name"> Kaveesh Nair </p>
	 </span>





		<span class="align-middle"> 5 years ago </span>


</div>

























<div class="readMoreSmall mt-2">

         The park checklist has 250 birds and about 50 other species (including the endangered lesser florican and the saras crane) recorded in the grasslands along the periphery of the sanctuary. Many specie<span class="clickable linkColor morelinkSmall"> (Read More)</span><span class="moreTextHidden">s like the painted sandgrouse, grey francolin, quails, Asian paradise flycatcher, black-naped monarch, white-browed fantail, Asian brown flycatcher, grey-headed flycatcher, verditer flycatcher, tickell's blue flycatcher, greenish warbler, white-eye, coppersmith barbet, common and marshal's iora, rufous treepie, yellow-footed green pigeon have been spotted by our guests around the lodge itself. </span>


</div>




    <div class="mt-1">





<span class="edit-ugc-inline" onclick='trackGAQnaActions("Add_Answer");openLink("/places/gir-national-park/question/Im-a-bird-watching-enthusiast-Is-Gir-a-447.html");return false;'>




<svg class="icon-edit-ugc icon-svg mr-2">
    <use xlink:href="/res/images/sprite-v2/sprite-web.svg?v=4.63#img-edit-ugc"></use>
</svg>
 <span>Add Your Answer</span>
</span>


    </div>
</div>












<div class="col-12 mb-4 ">












<p class="question"><b> <a href="How-many-budget-for-gir-travel-2696.html" class="font-color">
		Q. How many budget for gir travel

</a> </b></p>




    <div class="mt-1">





<span class="edit-ugc-inline" onclick='trackGAQnaActions("Add_Answer");openLink("/places/gir-national-park/question/How-many-budget-for-gir-travel-2696.html");return false;'>




<svg class="icon-edit-ugc icon-svg mr-2">
    <use xlink:href="/res/images/sprite-v2/sprite-web.svg?v=4.63#img-edit-ugc"></use>
</svg>
 <span>Add Your Answer</span>
</span>


    </div>
</div>




 </div>


     <!-- Review section -->




















</body>
</html>
