<!DOCTYPE html>
<html>
   <head>

<title>Gujarat Tourist Places </title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='new.css') }}">
       <link rel="stylesheet" href="new.css">
<link rel="icon" href="../static/res/logo.png" type="image/x-icon" sizes="32x32">

<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="encoding" content="utf-8">
<meta name="description" content="">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta property="og:image" content="https://www.holidify.com/images/tooltipImages/GUJARAT.jpg">


<link rel="preload"  as="style" onload="this.onload=null;this.rel='stylesheet'">


<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://securepubads.g.doubleclick.net">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://static.clicktripz.com">







<input type="hidden" id="pageType" value="State.TopDestinations">

   </head>

   <body>

  <!-- Header -->



<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-primary">
	<div class="container">

    <a class="navbar-brand" href="">
      <img src="../static/res/logo.png" alt="gujarat">
    </a>

    <form class="form-inline my-2 my-lg-0 position-relative">
  	 <input class="form-control hf-searchbar" id="header-autocomplete" type="search" placeholder="Search for places to visit" aria-label="Search">




<svg class="icon-search icon-svg ">
    <use xlink:href="/res/images/sprite-v2/sprite-web.svg?v=4.63#img-search"></use>
</svg>

     <div class="loading" style="display: none"> <div class="loading-wheel"> </div> </div>
    </form>

    <button class="navbar-toggler" type="button" onclick="openNav()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav nav ml-auto">

      <ul class="navbar-nav nav d-none d-lg-flex pr-3">
      <li class="nav-item dropdown"  >




          <li class=" nav-item" id="headerLoginContainer">









          </li>
      </ul>

    </div>
  </div>



  <div class="translucent-background d-lg-none" style="display: none;"> </div>
  <div id="sideNav" class="sidenav d-lg-none">
    <a href="#" class="close-btn" onclick="closeNav()">×</a>

    <div class="pt-3">





        <span id="headerMobileLoginConta


<div class="hamburger-div">
    <span class="d-flex align-items-center" onclick="toggleSideNav(this)">




<svg class="icon-location-pin icon-svg mr-2 icon-size-20">
    <use xlink:href="/res/images/sprite-v2/sprite-web.svg?v=4.63#img-location-pin"></use>
</svg>


    </div>

</div>





</nav>










<input type="hidden" id="destPlaceCode" value="GUJARAT">
<input type="hidden" id="destName" value="Gujarat">
<nav class="navbar nav-container navbar-secondary sticky-top" style="background-color: white">


    <div class="container p-mobile-0">
        <ul class="nav">
            <li class="first ">
                <a title=" Tourism" href="">


                </a>
            </li>
            <li class="dropdown selected">
                <a class="nav-link dropdown-toggle" href="" title="Places to visit in Gujarat">Places to Visit <span class="arrow-down hidden-md"> </span> </a>
                <ul class="dropdown-menu">


                        <a title="AHMEDABAD" href=""> 1. Ahmedabad </a>


                        <a title="KUTCH" href=""> 2. Kutch </a>


                        <a title="GIR-NATIONAL-PARK" href=""> 3. Gir National Park </a>


                        <a title="SOMNATH" href=""> 4. Somnath </a>


                        <a title="VADODARA" href=""> 5. Vadodara </a>


                        <a title="DWARKA" href=""> 6. Dwarka </a>

                    <a title="Tourist Places" href="#" onclick='openLink(""); return false;'> All Tourist Places </a>
                </ul>
            </li>




                <li><a onclick='trackHotelClick("StateSecondaryHeader")' href="https://www.makemytrip.com/" title="Gujarat Hotels">Hotels</a></li>

            <li class=""><a href="" title="Photos of Gujarat">Photos</a></li>
            <li class=""><a href="" title="Best Time to visit Gujarat">Best Time To Visit</a></li>



        </ul>
    </div>
</nav>





    </div>



<div class="front">
    <textarea id="myTextArea" name="myTextArea" placeholder="Welcome to Gujarat Tourism"></textarea>
</div>



</div>

      <div class="row no-gutters d-flex negative-margin-mobile">



        <div class="reset mb-20" id="attractionList">


            <h2 class="font-regular recover-negative-margin w-100">Here are the top 14 tourist places in Gujarat:</h2>








<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="AHMEDABAD">
















 <a href="/ahemdabad" data-href="/places/ahmedabad/" data-position="1">
<h3 class="card-heading"> 1. Ahmedabad </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="1">
		<img class="image" data-original="https://www.holidify.com/images/bgImages/AHMEDABAD.jpg" src="../static/res/images/ahemdabad.jpg" alt="">



<style>
.image {
  width:1000px;
  height: 280px;
}
</style>








	</div>










<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.1</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					1 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        64 <br> Tourist attractions

		    </p>



		<p class="card-text"> A rapidly growing metropolis, an industrial hub, an educational hotspot, and a city with a magnificent past – Ahmedabad is one of the most important cities in Gujarat. Located on the banks of the Sabarmati River, Ahmedabad is the former capital of Gujarat, and its delicious food, colourful culture i... </p>








<p class="mb-3"><b>Best Time: </b> October to March </p>


</div>












<div class="content-card-footer" data-position="1" data-href="/places/ahmedabad/">







		 <a onclick='openLink("/places/ahmedabad/")' class="btn btn-read-more" href="/ahemdabad"> Read More </a>


</div>

</div>

</div>













<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="KUTCH">
















 <a href="/kutch" data-href="/places/kutch/" data-position="2">
<h3 class="card-heading"> 2. Kutch </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="2">
		<img class="my-image2" src="../static/res/images/kutch.jpg" alt="">


<style>
.my-image2 {
  width:1000px;
  height: 280px;
}
</style>






	</div>










<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.4</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					2 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        20 <br> Tourist attractions

		    </p>



		<p class="card-text"> Virtually an island that resembles the shape of a tortoise, Kutch is an erstwhile princely state of India holding onto its grandeur nature from the past. Kutch is probably one of the most beautiful, yet surreal places in India with the vast expanses of the white salt desert.  The plac... </p>








<p class="mb-3"><b>Best Time: </b> July to March </p>


</div>












<div class="content-card-footer" data-position="2" data-href="/places/kutch/">







		 <a onclick='openLink("/places/kutch/")' class="btn btn-read-more" href="/kutch"> Read More </a>


</div>

</div>

</div>






































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="GIR-NATIONAL-PARK">
















 <a href="/gir" data-href="/places/gir-national-park/" data-position="3">
<h3 class="card-heading"> 3. Gir National Park </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="3">
		<img class="my-image3" src="../static/res/images/gir.jpg" alt="">



<style>
.my-image3 {
  width:1000px;
  height: 280px;
}
</style>


	</div>










<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.2</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					3 out of 42 <br> Places to visit in Gujarat


		    </p>



		<p class="card-text"> Gir National Park and Wildlife Sanctuary is the only remaining home for the Asiatic Lions. Located in Talala Gir in Gujarat, the Sanctuary is a part of Kathiawar- Gir dry deciduous forests ecoregion. Gir National Park is closed from 16 June to 15 October every year and the best time for wildlife spo... </p>








<p class="mb-3"><b>Best Time: </b> July to March </p>


</div>












<div class="content-card-footer" data-position="3" data-href="/places/gir-national-park/">







		 <a onclick='openLink("/places/gir-national-park/")' class="btn btn-read-more" href="/gir"> Read More </a>


</div>

</div>

</div>






































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="SOMNATH">
















 <a href="somnath.html" data-href="/places/somnath/" data-position="4">
<h3 class="card-heading"> 4. Somnath </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="4">
		<img class="my-image4" src="../static/res/images/somnath.jpg" alt="">

<style>
.my-image4 {
  width:1000px;
  height: 280px;
}
</style>









	</div>










<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.2</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					4 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        16 <br> Tourist attractions

		    </p>



		<p class="card-text"> Somnath, literally meaning 'lord of the moon' is a pilgrim center and is home to one of the 12 Jyotirlingas. It is a town which derives much of its identity from the mythology, religion, and legends that surround it. </p>








<p class="mb-3"><b>Best Time: </b> September to March </p>


</div>












<div class="content-card-footer" data-position="4" data-href="/places/somnath/">









		 <a onclick='openLink("/places/somnath/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>








































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="124934">
















 <a href="statue-of-unity-sightseeing-124934.html" data-href="https://www.holidify.com/state/gujarat/statue-of-unity-sightseeing-124934.html" data-position="5">
<h3 class="card-heading"> 5. Statue of Unity </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="5">
		<img class="image5" src="../static/res/images/statue.jpeg" alt="">



<style>
.image5 {
  width:1000px;
  height: 280px;
}
</style>








	</div>












</div>
 </a>










<div class="card-body">

		    <p class="objective">



					5 out of 42 <br> Places to visit in Gujarat


		    </p>



		<p class="card-text"> Statue of Unity is a memorial to The Iron Man of India, Sardar Vallabhbhai Patel. The statue has been erected to propagate Sardar Vallabhbhai Patel's vision of India and to inspire the Citizens of India through his patriotism and freedom struggle. The Bronze statue of the founding father of the Repu... </p>









</div>












<div class="content-card-footer" data-position="5" data-href="https://www.holidify.com/state/gujarat/statue-of-unity-sightseeing-124934.html">







		 <a onclick='openLink("https://www.holidify.com/state/gujarat/statue-of-unity-sightseeing-124934.html")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>






































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="VADODARA">
















 <a href="vadodara.html" data-href="/places/vadodara/" data-position="6">
<h3 class="card-heading"> 6. Vadodara </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="6">
		<img class="card-img-top lazy" src="../static/res/images/baroda.jpg" alt="">








	</div>










<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.4</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					6 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        29 <br> Tourist attractions

		    </p>



		<p class="card-text"> Vadodara or Baroda is a cosmopolitan city located in Gujarat. Home to some of the most exemplary displays of architecture, Vadodara is a fitting memorial to Maratha leader Sayaji Rao Gaekwad III who had envisioned a dream to make this Big City an educational, industrial and commercial centre. </p>








<p class="mb-3"><b>Best Time: </b> October to March </p>


</div>












<div class="content-card-footer" data-position="6" data-href="/places/vadodara/">






		 <a onclick='openLink("/places/vadodara/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>






































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="DWARKA">
















 <a href="dwarka.html" data-href="/places/dwarka/" data-position="7">
<h3 class="card-heading"> 7. Dwarka </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="7">
		<img class="card-img-top lazy" data-original="https://www.holidify.com/images/bgImages/DWARKA.jpg" src="../static/res/images/Dwarka.jpg" alt="">







	</div>










<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.1</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					7 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        15 <br> Tourist attractions

		    </p>



		<p class="card-text"> Located on the western tip of the Saurashtra peninsula in Gujarat, Dwarka is believed to be the capital city of Lord Krishna's kingdom. Known as Devbhoomi Dwarka, Dwarka boasts of being the only city that is a part of both Char Dham (four principal holy places) and also Sapta Puris (seven sacred cit... </p>








<p class="mb-3"><b>Best Time: </b> July to March </p>


</div>












<div class="content-card-footer" data-position="7" data-href="/places/dwarka/">








		 <a onclick='openLink("/places/dwarka/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>






































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="SAPUTARA">
















 <a href="saputara.html" data-href="/places/saputara/" data-position="8">
<h3 class="card-heading"> 8. Saputara </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="8">
		<img class="card-img-top lazy" data-original="https://www.holidify.com/images/bgImages/SAPUTARA.jpg" src="../static/res/images/sapurata.jpg" alt="">










	</div>










<span class="rating-badge" style="background-color:#9acc2b;">
    <b>3.9</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					8 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        20 <br> Tourist attractions

		    </p>



		<p class="card-text"> Snuggled in the Sahyadris or the Western Ghats, Saputara is a quaint little hill station in the Dang district of Gujarat. Popular for lush green forests, undulating mountains, dazzling waterfalls, dreamy winding roads, livid landscapes and plenty of charming cubbyholes to spend time with your loved ... </p>








<p class="mb-3"><b>Best Time: </b> Mid March to mid November </p>


</div>












<div class="content-card-footer" data-position="8" data-href="/places/saputara/">







		 <a onclick='openLink("/places/saputara/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>







              <!-- Ad Unit -->
              <div class="w-100 mb-4">






<div class="ad-container incontent-responsive-pos1">

















            <!-- incontent-pos-1: /21797983619/ca-pub-8014231071342543-tag/hf-resp-incontent -->
            <div id="div-gpt-ad-1554367252700-0" class="text-center">
            <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1554367252700-0'); });
            </script>
            </div>






















</div>


              </div>
































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="CHAMPANER-PAVAGADH">
















 <a href="champaner-pavagadh.html" data-href="/places/champaner-pavagadh/" data-position="9">
<h3 class="card-heading"> 9. Champaner </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="9">
		<img class="card-img-top lazy" data-original="https://www.holidify.com/images/bgImages/CHAMPANER-PAVAGADH.jpg" src="../static/res/images/Champaner.avif" alt="">






<div class="lazyBG card-img-top" data-original="https://www.holidify.com/images/compressed/5867.JPG" style="background-image:url('https://holidify.com/images/patt.png');">

</div>






<div class="lazyBG card-img-top" data-original="https://www.holidify.com/images/compressed/5868.jpg" style="background-image:url('https://holidify.com/images/patt.png');">

</div>






<div class="lazyBG card-img-top" data-original="https://www.holidify.com/images/compressed/808.jpg?v=1.1" style="background-image:url('https://holidify.com/images/patt.png');">

</div>






<div class="lazyBG card-img-top" data-original="https://www.holidify.com/images/compressed/5869.jpg" style="background-image:url('https://holidify.com/images/patt.png');">

</div>






<div class="lazyBG card-img-top" data-original="https://www.holidify.com/images/compressed/810.jpg?v=1.1" style="background-image:url('https://holidify.com/images/patt.png');">

</div>




	</div>










<span class="rating-badge" style="background-color:#9acc2b;">
    <b>3.9</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					9 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        8 <br> Tourist attractions

		    </p>



		<p class="card-text"> The Capital of the Sultanate of Gujarat, Champaner is a historical city located in the Panchmahal district in Gujarat. Being included in the elite list of the UNESCO World Heritage Sites across the globe, this marvellous archaeological park set in the heart of the city of Champaner and amidst t... </p>








<p class="mb-3"><b>Best Time: </b> October to February </p>


</div>












<div class="content-card-footer" data-position="9" data-href="/places/champaner-pavagadh/">









		 <a onclick='openLink("/places/champaner-pavagadh/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>






































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="JUNAGADH">
















 <a href="junagadh.html" data-href="/places/junagadh/" data-position="10">
<h3 class="card-heading"> 10. Junagadh </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="10">
		<img class="card-img-top lazy" data-original="https://www.holidify.com/images/bgImages/JUNAGADH.jpg" src="../static/res/images/junagadh.jpg" alt="">








	</div>










<span class="rating-badge" style="background-color:#d7ca23;">
    <b>2.5</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					10 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        25 <br> Tourist attractions

		    </p>



		<p class="card-text"> Being the capital of Junagadh Princely State once, the town shines with historical significance with many historical monuments to see. </p>








<p class="mb-3"><b>Best Time: </b> July to March </p>


</div>












<div class="content-card-footer" data-position="10" data-href="/places/junagadh/">








		 <a onclick='openLink("/places/junagadh/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>
































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="GANDHINAGAR">
















 <a href="gandhinagar.html" data-href="/places/gandhinagar/" data-position="11">
<h3 class="card-heading"> 11. Gandhinagar </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="11">
		<img class="card-img-top lazy" data-original="https://www.holidify.com/images/bgImages/GANDHINAGAR.jpg" src="../static/res/images/gandhinagar.jpg" alt="">









	</div>










<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.1</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					11 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        18 <br> Tourist attractions

		    </p>



		<p class="card-text"> Gandhinagar, the capital city of Gujarat, is located at a distance of around 23 km from Ahmedabad on the western bank of Sabarmati river. Gandhinagar, one of India's few planned cities encompasses Akshardham Temple, one of the country's most beautiful temple.   </p>








<p class="mb-3"><b>Best Time: </b> October to March </p>


</div>












<div class="content-card-footer" data-position="11" data-href="/places/gandhinagar/">








		 <a onclick='openLink("/places/gandhinagar/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>






































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="PORBANDAR">
















 <a href="porbandar.html" data-href="/places/porbandar/" data-position="12">
<h3 class="card-heading"> 12. Porbandar </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="12">
		<img class="card-img-top lazy" data-original="https://www.holidify.com/images/bgImages/PORBANDAR.jpg" src="../static/res/images/porbandar.jpg" alt="">







	</div>










<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.4</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					12 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        24 <br> Tourist attractions

		    </p>



		<p class="card-text"> Porbandar, best known as the birthplace of Mahatma Gandhi, is a beautiful beach town with some temples and dams and is now also a popular trading hub. The ancient port city with a significant event in its history is a tourist destination which modestly offers a number of attractions. </p>








<p class="mb-3"><b>Best Time: </b> Throughout the year </p>


</div>












<div class="content-card-footer" data-position="12" data-href="/places/porbandar/">







		 <a onclick='openLink("/places/porbandar/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>






































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="BHUJ">
















 <a href="bhuj.html" data-href="/places/bhuj/" data-position="13">
<h3 class="card-heading"> 13. Bhuj </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="13">
		<img class="card-img-top lazy" data-original="https://www.holidify.com/images/bgImages/BHUJ.jpg" src="../static/res/images/bhuj.jpg" alt="">









	</div>










<span class="rating-badge" style="background-color:#247c2a;">
    <b>4.3</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					13 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        23 <br> Tourist attractions

		    </p>



		<p class="card-text"> Bhuj is known as a desert city, with a history dating back to kingdoms and empires, palaces from the rule of the Naga chiefs, the Jadeja Rajputs, the Gujarat Sultans and the British Raj. With numerous temples, small streets, and traditional handicrafts, Bhuj is one of the unique historical sites in ... </p>








<p class="mb-3"><b>Best Time: </b> July to March </p>


</div>












<div class="content-card-footer" data-position="13" data-href="/places/bhuj/">








		 <a onclick='openLink("/places/bhuj/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>






































<div class="col-12 col-md-6 pr-md-3">


<div class="card content-card" data-itemid="SURAT">
















 <a href="surat.html" data-href="/places/surat/" data-position="14">
<h3 class="card-heading"> 14. Surat </h3>
<div class="position-relative">
	<div class="collection-scrollable" data-hotel-position="14">
		<img class="card-img-top lazy" data-original="https://www.holidify.com/images/bgImages/SURAT.jpg" src="../static/res/images/bhuj.jpg" alt="">








	</div>










<span class="rating-badge" style="background-color:#9acc2b;">
    <b>4.0</b>
     <span class="light"> /5</span>
</span>



</div>
 </a>










<div class="card-body">

		    <p class="objective">


					14 out of 42 <br> Places to visit in Gujarat


		        <span class="divider"> </span>
		        44 <br> Tourist attractions

		    </p>



		<p class="card-text"> Surat, having its name associated with Saurashtra (the good land), is a port city in Gujarat. The second most populated city in the state, Surat is a global diamond cutting centre and a commercial hub of textiles. Known as 'the city of flyovers', it attracts tourists who are intereste... </p>








<p class="mb-3"><b>Best Time: </b> October to March </p>


</div>












<div class="content-card-footer" data-position="14" data-href="/places/surat/">







		 <a onclick='openLink("/places/surat/")' class="btn btn-read-more" href="gujarat.html"> Read More </a>


</div>

</div>

</div>















          <!-- Pagination -->



          <!-- Categorized links to package pages -->

























  <script>
  function pageLoadedCallback() {
    enableCollectionItemScrolling();
  }
  </script>

   </body>
</html>
